<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/tx 
    	http://www.springframework.org/schema/tx/spring-tx.xsd
    	http://www.springframework.org/schema/context 
    	http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable usage of @Autowired. -->
    <context:annotation-config />

    <!-- Enable component scanning for defining beans with annotations. -->
    <context:component-scan base-package="es.ricardorp.aplicacionweb"/>

	<!-- HSQLDB Data Source -->        
    <bean id="dataSource" 
    	class="org.springframework.jndi.JndiObjectFactoryBean" 
    	p:jndiName="java:comp/env/jdbc/aplicacionWebDS"
        p:resourceRef="true" />

	<!-- Configuramos hibernate -->
	<bean id="hibernateSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource" p:packagesToScan="es.ricardorp.aplicacionweb.entities">
		<property name="mappingResources">
		  <list>
			<value>hbmxml/Pais.hbm.xml</value>
		  </list>
		</property>
	</bean>
	
	<!-- y el gestor de transacciones -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory"/>
	</bean>
	
    <!-- Gestionamos las transacciones con anotaciones -->
    <tx:annotation-driven transaction-manager="txManager" />

	<!-- CONFIGURACION DE DAOS -->
	<!-- Con Hibernate -->
    <bean id="paisDao" class="es.ricardorp.aplicacionweb.entities.PaisDaoHibernate">
    	<property name="sessionFactory" ref="hibernateSessionFactory" />
    </bean>
	<!-- con spring-jdbc -->    
    <!-- 
    <bean id="paisDao" class="es.ricardorp.aplicacionweb.entities.PaisDaoImpl">
    	<property name="dataSource" ref="dataSource" />
    </bean>
    -->
    <bean id="servicioWebImpl" class="es.ricardorp.aplicacionweb.servidor.ServicioWebImpl">
    	<property name="paisDao" ref="paisDao" />
    </bean>
</beans>