<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- Configuración de CXF (conexión al servicio web)-->
    <jaxws:client id="servicioWeb"
                  serviceClass="es.ricardorp.aplicacionweb.interfaz.ServicioWeb"
                  address="http://localhost:8080/servidor/ServicioWeb?wsdl"/>

    <!-- Cliente -->
    <bean id="cliente" class="es.ricardorp.aplicacionweb.cliente.Cliente">
		<property name="servicioWeb" ref="servicioWeb"/>
	</bean>
</beans>